[submodule "simplicity"]
	path = lib/simplicity
	url = git@github.com:simple-entertainment/simplicity.git
[submodule "simplicity-bullet"]
	path = lib/simplicity-bullet
	url = git@github.com:simple-entertainment/simplicity-bullet.git
[submodule "simplicity-cef"]
	path = lib/simplicity-cef
	url = git@github.com:simple-entertainment/simplicity-cef.git
[submodule "simplicity-editor"]
	path = lib/simplicity-editor
	url = git@github.com:simple-entertainment/simplicity-editor.git
[submodule "simplicity-freeglut"]
	path = lib/simplicity-freeglut
	url = git@github.com:simple-entertainment/simplicity-freeglut.git
[submodule "simplicity-live555"]
	path = lib/simplicity-live555
	url = git@github.com:simple-entertainment/simplicity-live555.git
[submodule "simplicity-opengl"]
	path = lib/simplicity-opengl
	url = git@github.com:simple-entertainment/simplicity-opengl.git
[submodule "simplicity-raknet"]
	path = lib/simplicity-raknet
	url = git@github.com:simple-entertainment/simplicity-raknet.git
[submodule "simplicity-rocket"]
	path = lib/simplicity-rocket
	url = git@github.com:simple-entertainment/simplicity-rocket.git
[submodule "simplicity-terrain"]
	path = lib/simplicity-terrain
	url = git@github.com:simple-entertainment/simplicity-terrain.git
